*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    width: 30vw;
    height: 100%;
    margin: 0 auto;
    margin-right: 20px;
}

nav > ul{
    display: flex;
    list-style: none;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

nav > ul > li{
    font-size: large;
}

header{
    width: 100%;
    background: black;
    color: white;
    height: 70px;
    display: flex;
    justify-content: center;
    gap: 20px
}

a{
    text-decoration: none;
    color: white;
}

.logo{
    max-width: 70px;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

h1{
    font-size: 400%;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    display: block;
}

.spel{
    display: flex;
    justify-content: center;
    outline-color: black;
    outline: auto;
    height: 50px;
    font-size: 200%;
    color: black;
    margin-bottom: 20px;
}

.spel > a{
    height: 50px;
    width: 100%;
}

.geschiedenis2{
    display: flex;
    justify-content: right;
    margin-right: 10%;
}

article{
    width: 70vw;
    margin: 0 auto;
    padding: 40px;
    margin-bottom: 40px;
}

p{
    margin: 20px;
}

.geschiedenis > img {
    margin-right: 10px;
    margin-top: 10px;
}

.geschiedenis{
    display: flex;
    margin-top: 10px;
}

.review1{
    width: 30%;
    display: flex;
}

.review2{
    width: 30%;
    display: flex;
}   

.review3{
    width: 30%;
    display: flex;
}

.h5reviews{
    margin-bottom: 50px;
}

footer{
    background: black;
    color: white;
    height: 180px;
}

